@model IEnumerable<Github.Library.Entities.Issue>

<table class="table table-dark col-10">
    <thead>
        <tr>
            <th scope="col"> Id </th>
            <th scope="col">Title</th>
            <th scope="col"> Link </th>
            <th scope="col"> Owner </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td> @item.Number </td>
                <td>@item.Title</td>
                <td> <a href="@item.Html_url"> Issue </a> </td>
                <td> <a href="@item.User.HtmlUrl"> @item.User.Login </a></td>
            </tr>
        }
    </tbody>
</table>